body {
    background-color: gray;
    margin: 12px;
    padding: 2px;
    height: 100%;
    background-image: url('https://i.pinimg.com/736x/be/cf/93/becf93d7664263284b4b82fa23f059bd--wallpaper-backgrounds-iphone-backgrounds.jpg ');
}
img {
    width: auto;
    height: auto;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
h1 {
    color: rgb(55, 5, 59);
    font-size: 50px;
    text-align: center;
}
h2 {
    color: rgb(127, 12, 138);
    font-size: 30px;
}
ul li {
    border: solid 5px rgb(0, 0, 0) ;
    margin: 15px;
    list-style-type:circle;
}
/* ol li {
    border: 5px thin rgb(55, 5, 59);
} */
ol {
    border: dashed 5px rgb(55, 5, 59);
    margin-left: 15px;
    padding: 20px; 
    list-style-type:decimal;
    list-style-position: inside;
}
